Description=CAN setup 

[Service]
Type=simple
Environment="PATH=/usr/bin:/usr/sbin"
ExecStart=/bin/bash /mnt/ssd-1/workspace/jetson-deepstream/bscripts/logging/setup_CAN.sh


[Install]
WantedBy=multi-user.target                                 