[Unit]
Description=Logging the videos and CAN log files 
Requires=can_setup.service

[Service]
Type=simple
Environment="PATH=/usr/sbin/modprobe:/usr/bin:usr/sbin/lsmod:/usr/bin/grep:/home/ganindu/.pyenv/versions/AIPY/bin:/home/ganindu/.pyenv/shims:/home/ganindu/.pyenv/bin:$PATH"
ExecStart=/bin/bash /mnt/ssd-1/workspace/jetson-deepstream/bscripts/logging/./watch_gpio_pin.sh
Restart=on-failure
RestartSec=30s




[Install]
WantedBy=multi-user.target               