[Unit]
Description=Setting the correct time on the device 
Requires=can_setup.service

[Service]
Type=simple
Environment="PATH=/home/ganindu/.pyenv/versions/AIPY/bin:/home/ganindu/.pyenv/shims:/home/ganindu/.pyenv/bin:$PATH"
ExecStart=/home/ganindu/.pyenv/versions/AIPY/bin/python3 /mnt/ssd-1/workspace/jetson-deepstream/bscripts/logging/set_device_time/check_device_time.py


[Install]
WantedBy=multi-user.target
